fastapi
uvicorn
python-multipart
python-dotenv
requests
beautifulsoup4
pymongo[srv]
httpx
python-jose[cryptography]
passlib[sha256_crypt]
pydantic
pydantic-settings
pydantic[email]
faiss-cpu
numpy
pdfplumber
dnspython
